* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

#hill-1 {
    height: 400px;
    width: 800px;
    background-color: cornflowerblue;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    position: absolute;
    bottom: 10px;
    left: 30px;
    z-index: 9;

}

#hill-2 {
    height: 350px;
    width: 600px;
    background-color: cornflowerblue;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    position: absolute;
    bottom: 10px;
    left: 350px;
    z-index: 9;

}

#hill-3 {
    height: 420px;
    width: 800px;
    background-color: cornflowerblue;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    position: absolute;
    bottom: 10px;
    left: 500px;
    z-index: 9;

}

#sun {
    height: 130px;
    width: 130px;
    background-color: rgb(254, 13, 0);
    border-radius: 100%;
    position: absolute;
    bottom: 200px;
    left: 680px;
    z-index: 6;
    animation-name: moving-sun;
    animation-timing-function: linear;
    animation-duration: 35s;
    animation-iteration-count: 2;
    animation-fill-mode: both;
}

@keyframes moving-sun {
    0% {
        transform: translateX(0);
        background-color: rgb(255, 50, 0);
    }

    50% {
        transform: translateY(-450px);
        background-color: rgb(255, 200, 0);
    }
}

#cloud1 img {
    width: 220px;
    animation-name: moving-cloud-1;
    animation-timing-function: linear;
    animation-duration: 50s;
    animation-iteration-count: 2;
    animation-fill-mode: both;
}

@keyframes moving-cloud-1 {
    0% {
        transform: translateX(-180px);
    }

    50% {
        transform: translateX(1500px);
    }
}

#cloud2 img {
    width: 180px;
    animation-name: moving-cloud-2;
    animation-timing-function: linear;
    animation-duration: 55s;
    animation-iteration-count: 2;
    animation-fill-mode: both;
}

@keyframes moving-cloud-2 {
    0% {
        transform: translateX(1300px);
    }

    50% {
        transform: translateX(-400px);
    }
}

#cloud3 img {
    width: 200px;
    animation-name: moving-cloud-3;
    animation-timing-function: linear;
    animation-duration: 20s;
    animation-iteration-count: 2;
    animation-fill-mode: both;
}

@keyframes moving-cloud-3 {
    0% {
        transform: translateX(500px);
    }

    50% {
        transform: translateX(900px);
    }
}