body{ 
    display: flex;
} 

#hill-1 {
    height: 400px;
    width: 1100px;
    margin-top: 270px;
    transform: translateX(150px);
    background-color: cornflowerblue;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

#hill-2 {
    height: 330px;
    width: 900px;
    margin-top: 340px;
    transform: translateX(-110px);
    background-color: cornflowerblue;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

#hill-3 {
    height: 370px;
    width: 1100px;
    margin-top: 300px;
    transform: translateX(-400px);
    background-color: cornflowerblue;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

#sun {
    height: 100px;
    width: 200px;
    background-color: rgb(254, 0, 0);
    border-radius: 100%;
    margin-top: 400px;   
    transform: translateX(-750px);
    animation-name: sunAnimation;
    animation-duration: 15s;    
    animation-timing-function: linear;
    animation-iteration-count: 3;
    animation-fill-mode: both;
}
@keyframes sunAnimation {
    0%{
        transform: translateX(0%);
        background-color: rgb(255, 0, 0);
    }
    25%{
        transform: translateY(-400px);
        background-color: rgb(255, 242, 0);
    }
}